<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<security:http auto-config="true" use-expressions="true" access-denied-page="/access-denied" authentication-manager-ref="authMgr">	
		<security:intercept-url pattern="/profile" access="hasRole('ROLE_USER')"/>
		
		<security:intercept-url pattern="/myAds" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/createAd" access="hasRole('ROLE_USER')"/>
		<security:intercept-url pattern="/deleteAd" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/editAd" access="hasRole('ROLE_USER')" />
		
		<security:intercept-url pattern="/bookmarks" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/bookmark" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/removeBookmark" access="hasRole('ROLE_USER')" />
		
		<security:intercept-url pattern="/enquiries" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/manageInvitationRequests" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/createVisitAppointment" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/sendEnquiry" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/rateEnquiry" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/removeEnquiry" access="hasRole('ROLE_USER')" />
		
		<security:intercept-url pattern="/searches" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/removeSearch" access="hasRole('ROLE_USER')" />
		
		<security:intercept-url pattern="/notifications" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/removeNotification" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/openNotification" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/clearNotifications" access="hasRole('ROLE_USER')" />
		
		
		
		<security:intercept-url pattern="/register/**" access="isAnonymous()" />
		<security:intercept-url pattern="/login" access="permitAll" />	
		<security:form-login login-page="/login" authentication-failure-url="/login?error=true" default-target-url="/" />
		<security:logout invalidate-session="true" logout-success-url="/" logout-url="/logout" />
		
		<!-- Remember Me functionality -->
		<security:remember-me key="uniqueAndSecret"/>
	</security:http>


	<!-- Declare an authentication-manager to use a custom userDetailsService -->
	<security:authentication-manager id="authMgr">
		<security:authentication-provider user-service-ref="loginServiceImpl">
			<security:password-encoder hash="bcrypt" />
		</security:authentication-provider>
	</security:authentication-manager>
	
</beans>
